<div class="excuses_main shadow">
    <div class="container">
            <h1>Excuses</h1>

        <p>See all the realitistic and non-realistic excuses you can use</p>
        <div class="border"></div>
        <div class="button_position">
            <ul class="nav nav-pills">
                <li class="nav-consumer"><%= link_to "All", '/excuses' %></li>
                <li class="nav-consumer"><%= link_to "Realistic", '/excuses/realistic' %></li>
                <li class="nav-consumer"><%= link_to "Non-Realistic", '/excuses/non_realistic' %></li>
            </ul>
</div>

