<div class="excuses_main shadow">
    <div class="container">
            <h1>Excuses</h1>

        <p>See all the realitistic and non-realistic excuses you can use</p>
        <div class="border"></div>
        <div class="button_position">
            <ul class="nav nav-pills">
                <li class="nav-consumer"><a href="/excuses">All</a></li>
                <li class="nav-consumer"><a href="/excuses/realistic">Realistic</a></li>
                <li class="nav-consumer"><a href="/excuses/non_realistic">Non Realistic</a></li>
            </ul>
</div>

