<h1>Your excuse is...</h1>

<!-- Insert our ruby image tag here -->

<h2>Say this:</h2>

<!-- Insert ruby tag for DB here -->

<h2>Your alibi's soundbyte:</h2>

<!-- Insert button to play and an option to loop -->
