<div class="excuses_main">
	<div class="container">
		<h1>Excuses</h1>
		<p>See all the realitistic and non-realistic excuses you can use</p>
    	<div class="center">
            <ul class="nav nav-pills">
             	 <li class="nav-all active"><a href="#">All</a></li>
             	 <li class="nav-consumer"><a href="#">Realistic</a></li>
             	 <li class="nav-consumer"><a href="#">Non Realistic</a></li>
            </ul>
    </div>
</div> 

<h1>Your excuse is...</h1>

<!-- Insert our ruby image tag here -->

<h2>Say this:</h2>

<!-- Insert ruby tag for DB here -->

<h2>Your alibi's soundbyte:</h2>

<!-- Insert button to play and an option to loop -->

