<div class="excuses_main shadow">
    <div class="container">
            <h1>Excuses</h1>

        <p>See all the realitistic and non-realistic excuses you can use</p>
        <div class="border"></div>
        <div class="button_position">
            <ul class="nav nav-pills">
                <li class="nav-all active"><a href="#">All</a>
                </li>
                <li class="nav-consumer"><a href="#">Realistic</a>
                </li>
                <li class="nav-consumer"><a href="#">Non Realistic</a>
                </li>
            </ul>
        </div>
        <div class = "row">   
            <div class="col-md-3">
            </div> 
            <div class="col-md-3">
                <h1>Excuse:</h1>
            </div>
            <div class="col-md-3">            
                <h2>What to say:</h2>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        
            <% @excuses.each do |excuse| %>
        <div class = "row">
            <div class="col-md-3"></div> 
            <div class="col-md-3">
                <p>
                    <%= link_to excuse.name, excuse_path(excuse) %>
                </p>
             </div>
                
            <div class="col-md-3">
                <p>
                    <%=excuse.template %>
                </p>
            </div>
            <div class="col-md-3"></div>             

        </div>
            <% end %>
    </div>
    <!-- Insert button to play and an option to loop -->


