<h1>Fabricate Your Alibi</h1>

<p>Plausible?</p>
<ul>
	<li>Realistic</li>
	<li>Unrealistic</li>
</ul>

<p>When will you show up?</p>
<ul>
	<li>Late</li>
	<li>Never</li>
</ul>

<div class="btn">
	Generate
</div>
