<h1>Your excuse is...</h1>
	<p><%= @excuse.name %></p>
	
<!-- Insert our ruby image tag here -->

<h2>Say this:</h2>

<p><%= @excuse.template %></p>

<!-- Insert ruby tag for DB here -->

<h2>Your alibi's soundbyte:</h2>

<%= audio_tag(@excuse.sound_fx, controls: true, loop: true) %>

<!-- Insert button to play and an option to loop -->
