
<div class="shadow">
	<div class="container">
		<h1>User Profile Page</h1>
		 <div class="row">
  
      				<h1 id="gravatar_img">
       				 	<%= gravatar_for @user %>
       				</h1>
       				<h1 id="gravatar_name">
       					<%= @user.name %>
       				</h1>
       				<h1 id="gravatar_email">
       				 	<%= @user.email %>
      				</h1>
    		
		</div>


		<p>Past Excuses</p>

		<!-- List of Top Rated Excuses -->

		<!-- 3 Most Recently used Excuses? -->
	</div>
</div>
