<div class="shadow">
	<div class="container">
		<h1>User Profile Page</h1>

		<!-- user login name -->

		<!-- Maybe a user avatar upload option? -->

		<p>This is a placeholder page for the User's Profile</p>

		<!-- List of Top Rated Excuses -->

		<!-- 3 Most Recently used Excuses? -->
	</div>
</div>
