<div class="shadow">
	<div class="container">
		<h1>About</h1>

        <div class="col-md-3">
</div>
    <div class = "row">   
        <div class="col-md-3">
<%= image_tag("aboutimage.png", class: "aboutimage center-block") %>		
</div>

<div class="col-md-3">

<p>We’ve all been there. We know you. You work 60-hour weeks, juggle a lively social life, cook gourmet meals, and volunteer your time to three charities. Something’s bound to fall through the cracks. And we’re here for you when that happens.
</p>
		<p>You are so good-natured. You have a hard time saying no. Don’t stop being you! So what if every once in awhile you say yes to too many activities? Sometimes you even volunteer your time to strangers. We know. You can count on us to help you get control of your schedule again.</p>
	</div>

	<div class="col-md-3">
</div>
</div>
		
	</div>	
</div>