<div class="center jumbotron" id="shadow">
  <h1>No Excuse No Problem</h1>

  <p>Running Late? Don't feel like going to work?</p>
  <p>Use No Excuse No Problem to help generate an excuse for you</p>

</div>
