/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
*= require rails_bootstrap_forms
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 1.4em !important;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.secondary{
  margin-bottom:2vh;
}

.call2action {
  height: 350px;
  padding: 100px;
  background: url(beachday.jpg) center no-repeat;
  background-size: 100%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.jumbotron {
  background: url(passedout.jpg) center no-repeat;
  background-size: 100%;
  height: 450px;
}

#homeshadow {
    box-shadow: inset 0 2em 1em -2em #000;
}

.shadow {
    box-shadow: inset 0 2em 1em -2em #888;
     min-height: 80vh;
}


.cat_image{
  width:50%;
}

.btn a {
  padding: 15px 45px;
  background: #FF6B00;
  color: #FFF;
}

.btn a:hover {
  padding: 15px 45px;
  background: #B24B00;
  color: #FFF;
  text-decoration: none;
}

/* header */

header {
  background-color: #00E8FF;
  height: 10vh;
  line-height: 60px;
  font-size: 1.4em;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  padding-left: 20px;
}

header a {
  color: #B24B00;
  font-weight: bold;
}

 header a:hover {
  color: #FF6B00;
  text-decoration: none;
  font-weight: bold;
}

header img {
  width: 350px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#excuse_image{
  width:30vw;
}

.all-excuses{
  text-align: center;
}

.regen-excuses{
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.rating{
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#user_star{
  margin-bottom: 2vh;
}

#homeoverride {
  color: #fff;
  text-shadow: 1px 1px 5px #888;
}

.title_text{
  padding-top: 3vh;
  margin-top: 0 !important;
}

.alert{
  height: 10vh;
}

.choose_your_excuse{
  text-align:center;
}

.choose_your_excuse_buttons ul{
  padding-left:0;
}

/* debug */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* footer */

footer {
  background: #0FA4B2;
  height: 10vh;
  line-height: 60px;
  position:relative;
}

footer ul {
  list-style-type: none;
}

footer li {
  text-decoration: none;
  display: inline;
  padding-left: 20px;
}

footer a {
  color: #00E8FF;
}

footer a:hover {
  text-decoration: none;
  color: #B24B00;
}

/*about page*/
.aboutimage {
  width: 250px;
  
}

.col-md-3 {
padding-top: 30px;
}

.col-md-3 p {
  text-align: left;
}



