/*// Place all the styles related to the Excuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.excuses_main h2, p {
	 text-align: left;
}

excuses_main h1, h3 {
	 text-align: center;
}

.border {
	border-top-style: solid;
}

.button_position {
	padding-top: 40px;
	padding-left: 450px;
	padding-bottom: 20px;
}



