/*// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.gravatar_img {
	padding-left: 5px;
	padding-bottom: 10px;
}

.gravatar_email {
	padding-bottom: 20px;
}

